:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

form {
    width: 40.4rem;
    display: flex;
    flex-direction: column;
    border-radius: .8rem;
    margin: 4.1rem auto;
    font-family: 'Roboto';
    gap: 1rem;
}

fieldset {
    background: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: .8rem;
}


fieldset h1 {
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    padding: 2.1rem 0 .8rem;
}

.title span, .fieldsetWrapper legend{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.fieldsetWrapper legend{
    margin-top: 1rem;
}

.fieldsetWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.inputsWrapper {
    gap: 1rem;
    margin-bottom: 1rem;
}

.inputWrapper, .inputsWrapper, .inputWrapperData {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapper input, .inputWrapperData input {
    width: 100%;
    height: 3.5rem;
    border-radius: .8rem;
    padding: .8rem;

}

.inputWrapperData2 {
    display: flex;
    gap: 5rem;
}

.stateText, .cityText {
    display: flex;
    justify-content: center;
}

select {
    height: 3.5rem;
    border-radius: .8rem;
    text-align: center;
    width: auto;
}

#inputDataNasc {
    text-align: center;
    width: 60%;
}

p {
    font-family: 'Roboto';
    font-size: 1.3rem;
    margin-bottom: .2rem;
}

.btn {
    background: #0b00a5;
    border-radius: .8rem;
    width: 16.1rem;
    height: 5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
}

.formButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.formButton button {
    cursor: pointer;
}

input:invalid {
    border: 1px solid red;
}