 .carrinhoPage {
     width: 133.44rem;
     height: 53.3rem;
     margin: 5.1rem auto;
     border-radius: .8rem;
     padding: 1.9rem 6.4rem;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     background: #FFFFFF;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .carrinhoPage h1 {
     font-family: 'Inter';
     font-weight: 700;
     font-size: 2.2rem;
     line-height: 2.7rem;
     text-align: center;
     text-transform: uppercase;
 }

 .itenCart {
     width: 121.6rem;
     height: 10.1rem;
     display: flex;
     padding: 1rem;
     border-radius: .8rem;
     background: #FEFEFE;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .cartImg {
     width: 9.3rem;
     height: 8.2rem;
     margin-right: 1.8rem;
 }

 .cartInfo {
     display: flex;
     flex-direction: column;
     width: 59.3rem;
     justify-content: center;
 }

 .cartDescripition {
     font-family: 'Inter';
     font-weight: 500;
     font-size: 2.2rem;
     line-height: 2.7rem;
     margin-bottom: .6rem;
 }

 .cartFrete {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 600;
     font-size: 1rem;
     line-height: 1.2rem;
     color: #201CE2;
     text-transform: uppercase;
 }

 .cartButton {
     display: flex;
     width: 6rem;
     align-items: center;
     margin-left: 12.9rem;
     margin-right: 14.1rem;
 }

 .cartQuant form {
     display: flex;
     align-items: center;
 }

 .insertQuant {
     width: 2.8rem;
     height: 3.3rem;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #D9D9D9;
     border-radius: .3rem;
     margin: 0 .3rem 0;
 }

 .cartQuant form button {
     width: 1.5rem;
     height: 1.8rem;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .priceCart {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: center;
 }

 .priceAfter {
     font-family: 'Inter';
     font-weight: 400;
     font-size: 1.5rem;
     line-height: 1.8rem;
     text-decoration-line: line-through;
     color: rgba(0, 0, 0, 0.8);
     padding-right: 6.9rem;
 }

 .priceNow {
     font-family: 'Inter';
     font-weight: 700;
     font-size: 2.2rem;
     line-height: 2.7rem;
     display: flex;
     align-items: center;
     text-align: center;
     padding-right: 3.3rem;
 }

 .total {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 22px;
     text-transform: uppercase;
 }

 .subTotal {
     display: flex;
     flex-direction: column;
     width: 35.5rem;
     align-items: flex-end;
 }

 .shipping,
 .totalCart {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2.1rem;
 }

 .shipping {
     margin-bottom: 2rem;
     width: 31.05rem
 }

 .totalCart {
     margin-bottom: 3.5rem;
 }

 .shipping span:nth-child(1) {
     width: 19.38rem;
     display: flex;
     align-items: flex-end;
     justify-content: flex-end;
 }

 .shipping span:nth-child(2) {
     width: 10.61rem;
     display: flex;
     color: #201CE2;
 }

 .buttonBuy button {
     width: 288px;
     height: 60px;
     background: #3FAD0C;
     border-radius: 8px;
     border: none;
     font-family: 'Inter';
     font-weight: 800;
     font-size: 20px;
     line-height: 20px;
     color: #FFFFFF;
     text-transform: uppercase;
 }

 .continueBuy button {
     width: 195px;
     height: 22px;
     background: #D78E39;
     border-radius: 8px;
     border: none;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 14px;
     color: #F5F5F5;
     text-transform: uppercase;
 }

 .continueBuy button a {
     text-decoration: none;
     color: #F5F5F5;
 }