* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-size: 62.5%;
}

.page2{
    padding: 5.6rem;
    display: flex;
    justify-content: center;
    font-family: roboto;
    
}

main{
    width: 134.4rem;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-start;
}

.headers{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headersProduct{
    display: flex;
    position: relative;
}

.buttonProduct button{
    padding: .8rem;
    text-transform: uppercase;
}

.buttonProduct{
    right: 0;
    top: 0;
    position: absolute;
}

.modal{
    display: none;
}

.descriptionitem{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.descriptionitem span{
    display: flex;
    align-items: center;
    font-size: 1.5rem; 
}

.descriptionitem input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.title{
    position: relative;
    flex: 1 0 auto;
    text-align: center;
}

.priceItem{
    display: flex;
    gap: 3rem;
}


.products{
    display: flex;
    gap: 2rem;
    box-sizing: border-box;
    position: relative; 
}

  td{
    text-align: center;
    width: 100%;

    font-size: 1.2rem;
  }

  th{
    height: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: #04AA6D;
    color: white;
    border: none;
  }

  table{
    border-collapse: collapse;
    border: .1rem solid #505251;
    margin-bottom: 3rem;
  }

  #actionTable{
    display: flex;
    padding: .5rem;
  }

  #actionTable img{
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }

  #userIndex{
    display: none;
  }
